$navbar-height: 35px;

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

.component-container {
  height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: column;
}

.pullright{
  float: right;
}
.pointer {
  cursor: pointer;
}

.NavBar.horizontal {
  background-color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  height: $navbar-height;
  .nav-icon {
    color: #e2e2e2;
  }
  .no-padding {
    padding: 0px !important;
  }
}
// @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
