$navbar-height: 35px;

html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}
#container {
  background-color: rgb(250, 250, 250);  
}
.container {
    width: 1050px;
    background-color: white;
}
.component-container {
  height: calc(100vh - #{$navbar-height});
  display: flex;
  flex-direction: column;
}

.pullright{
  float: right;
}
.pointer {
  cursor: pointer;
}

.top-bar-img {
  padding: 0 8px 2px;
}
.NavBar.horizontal {
  background-color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: $navbar-height;
  .navbar-toolbar {
    display: flex;
    align-items: center;
  }
  .nav-icon {
    color: #e2e2e2;
  }
  .no-padding {
    padding: 0px !important;
  }
}
