.viewer-page {
  margin: 0 0 auto 0;
  overflow: auto;
  .main-viewer {
    outline: none;
    min-height: 100%;
    margin-right: 30px;
    font-family: Georgia;
  }
}
.light-grey-comment {
  color: #ccc;
}
.black-comment {
  color: #000;
}
.gray-comment {
  color: #999;
}
.feedback {
  margin: auto;
  font-size: 28px
}
.feedback-box {
  height: 40%;
  bottom: 80px;
  font-size: 20px;
  color: grey
}
.try-again {
  position: absolute;
  left: calc(50% - 283px);
  top: 20%;
}
.feedback-separator {
  background-color: grey;
  width: 70%;
  margin: 0 auto;
  height: 3px;
}
.save-text-modal-dialog.modal-dialog {
  margin-top: calc(50vh - 300px);
}
